/*html {
  font-size: 16px;
}*/
@font-face {
    font-family: 'FiraSansMedium'; /*a name to be used later*/
    src: local('Fira Sans Medium'), local('FiraSansMedium'), url(/static/media/fonts/FiraSans/FiraSans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'FiraSans'; /*a name to be used later*/
    src: local('Fira Sans'), local('FiraSans'), url(/static/media/fonts/FiraSans/FiraSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'FiraSansRegular'; /*a name to be used later*/
    src: local('Fira Sans Regular'), local('FiraSansRegular'), url(/static/media/fonts/FiraSans/FiraSans-Regular.woff) format('woff');
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}



.cuerpo {
  margin: 0;
  padding: 1.5rem 1rem;
  font: 2rem/2 "FiraSans", sans-serif;
  color: #5a5a5a;
  background-color: #F7F7F7;/* #FCF8E3 F7F7F7 */

  letter-spacing: -.05em;

    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
       -moz-animation: fadein 0.5s; /* Firefox */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera */
            animation: fadein 0.5s;
   background: url('21.png') no-repeat center center fixed;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

body {
  margin: 0;
  /*font: 1.4rem/1.5 "FiraSans Sans", sans-serif;*/
  color: #5a5a5a;
}

input { text-align: center;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  /*text-decoration: underline;*/
}

h1, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -.05em;
  margin-bottom: .25rem;
}

h1 {
  font-size: 7rem;
  font-family: 'FiraSansMedium';
}

h2 {
	font-weight: normal;
	font-size: 5rem;
  color: #5a5a5a;
/*
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
  transition: all .15s linear; */
}

/*h2:hover {
  color: #08c;
}*/

h3 { padding-top: 1rem; margin-top: 2rem; font-size: 1.75rem; }
h4 { font-size: 0.9rem; color: #5a5a5a; }

.container {
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #dfdfdf;*/
}

.containerLINKS {
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
}

.containerDONA {
font-weight: normal;
font-size: 2.5rem;
font-family: 'FiraSansRegular';
color: #5a5a5a;

  -webkit-animation: fadein 1s; /* Safari and Chrome */
     -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera */
          animation: fadein 1s;
transition: all .15s linear;
}

.containerDONA:hover {
  color: #08c;
}

.subtitle {
  font-size: 2rem;
  font-family: 'FiraSansRegular';
  color: #5a5a5a;

  letter-spacing: -.05em;
}

.transboton {
  transition: all .15s linear;
}

.icon {
  display: inline-block;
  font-size: 6rem;
}

.link {
	font-weight: normal;
  color: #5a5a5a;
  transition: all .15s linear;
}
.link:hover {
  	color: #08c;
}

.linktwit {
	font-weight: normal;
	font-size: 0.8rem;
  color: #5a5a5a;
  transition: all .15s linear;
}
.linktwit:hover {
  color: #08c;
}

#last img {
    height:400px;
}


@-webkit-keyframes greenPulse {
      from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
        50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
          to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
      }


.green {
      -webkit-animation-name: greenPulse;
        -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
      }

 #formdown { 
 color:black;
 width:150px;
 margin-left:auto;
 margin-right:auto;
 }

