{% extends "index.html" %}
{% load i18n %}
{% block subtitle  %}

{% endblock %}
{% block content %}
<p>
<a href="http://qchat2.rizon.net/?randomnick=1&amp;channels=waifuapp&amp;prompt=1&amp;uio=d4">{% trans "Preguntas o soporte por IRC en rizon" %}</a> 
<br>

          Twitter:  <a href="http://twitter.com/waifuapp" class="link">@waifuapp</a> <br>
           <a href="mailto:pelana@hushmail.com"> {% trans "Email para contacto" %}</a>
          <br>
            {% trans "Diseño de la web por" %} <a href="http://twitter.com/dark_on_5" class="link">@dark_on_5</a>. 
</p>
{% endblock %}
