{% load i18n %}<!doctype html>
<html>
<head>
<title>{% trans "waifu.ca - Anime streaming, El popcorntime del anime" %} </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta content='anime,manga,anime online, manga,naruto,episode,chapter,sao,fairy,tail,naruto,dragon ball,z' name='keywords'/>

  <meta charset="utf-8">
  <link href="{{MEDIA_URL}}favicon.ico" rel="icon" type="image/x-icon" />
  <meta name="google-site-verification" content="jueYGXeQoGCIgAKkjhUSyGZqMfUx_pqGDSQ_wggAr2I" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://waifu.ca{{MEDIA_URL}}img3.png" />      
  <meta property="og:url" content="http://waifu.ca" />
  <meta property="og:title" content="Waifu - {%trans "El PopcornTime del anime" %}" />
  <meta property="og:description" content="{% trans 'Waifu una aplicación de streaming  para ver anime online P2P (basada en torrent) que te permite ver anime en 720p HD, con  subtitulos en Español, ingles, portugues, frances, aleman. (actualmente ES, LA, EN, PT, FR, DE)' %}"/>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-55146433-1', 'auto');
                  ga('send', 'pageview');

                </script>

                <link rel="stylesheet" href="{{ STATIC_URL }}media/color_captcha.css" type="text/css"/>


                {% comment %}
<!-- Facebook Conversion Code for page pixel -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6023795113125', {'value':'0.00','currency':'MXN'}]);
</script>
{% endcomment %}
</head>

<body class="cuerpo">

  {% get_current_language as LANGUAGE_CODE %}
  <!-- Current language: {{ LANGUAGE_CODE }} -->

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language" class="">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                  </option>
                  {% endfor %}
                </select>
                <input type="submit" class="btn" value="{% trans "Go" %}" />
              </form>
          </div>
        </div>

      </div>




<div class="container">

  {% block title %}
  <span class="icon">♥</span>
  <h1>Waifu <span class="subtitle"> {%trans "El PopcornTime del anime" %}</span></h1>

  {% endblock %}
  {%block subtitle %}
  <h2> {% trans "aplicación de streaming  para ver anime online " %}  </h2>
  {% endblock %}

  {% block content %}

</div>
<div class="row containerLINKS">
            <div class="col-lg-4 well label label-default">
                <h2>Windows</h2>
                <p>
                  <form method="POST" action="/">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" onclick=" ga('send', 'event', 'button_click', 'download', 'windows');"
                    class="btn btn-lg btn-primary transboton green" role="button">{% trans "Descarga" %} &raquo;
                    </button>
                  </form>
		              <!-- a onclick=" ga('send', 'event', 'button_click', 'download', 'windows');"
                    class="btn btn-lg btn-primary transboton green" href="http://a.nekoanimedd.com/dd/setup_waifu.exe" role="button">{% trans "Descarga" %} &raquo;</a-->
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Linux</h2>
                <p>
                  {% trans " Extrae el .tar.gz y ejecuta Waifu" %}
                </p>
                <p>
                    <a onclick="ga('send', 'event', 'button_click', 'download', 'linuxs');" class="btn btn-lg btn-success transboton"
                      href="/static/media/Waifu_linux64.tar.gz" role="button">{% trans "Descarga 64bits" %}&raquo;</a>
                    <a onclick="ga('send', 'event', 'button', 'click', 'download', 'linux32');" class="btn btn-lg btn-success transboton"
                      href="{{MEDIA_URL}}Waifu_linux32.tar.gz" role="button">{%trans "Descarga  32bits" %}&raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Mac OS</h2>
                <small>
                  {% blocktrans %}
                  ¡Gracias a <a href='http://twitter.com/MarsuTwitt' class='link'>@MarsuTwitt</a> por el .dmg! (descargar usando chrome)
                  {% endblocktrans %}
                </small>
                <p><a onclick=" ga('send', 'event', 'button_click', 'download', 'mac');"
                    class="btn btn-lg btn-info transboton" href="/static/media/Waifu-10.10.dmg"
                    role="button">{% trans "Descarga" %} &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->

            <!--div class="col-lg-3">
                <h2>Código</h2>
                <p>
                    <a href="https://bitbucket.org/pelana/waifu">
                      <img alt="{% trans "Código fuente de waifu"%}" style="height:75px" src="{{MEDIA_URL}}bucket.png">
                    </a>
                </p>
            </div-->
            <!-- /.col-lg-4 -->
        </div>


<div class="container">
                    <video style="heigth:250" loop autoplay controls> <source src="{{MEDIA_URL}}out.webm" type="video/webm"> Your browser does not support the video tag.</video>

</div>





<br>

        <div class="row containerLINKS row featurette">
          <div class="col-lg-4 col-lg-offset-4">
            <strong>{% trans "Ultimo capitulo agregado" %}: </strong>
            <div id="last">
            </div>
          </div>
          </div>


        <div class="clear"></div>


      <div class="containerLINKS row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">¡waifu.ca!</h2>
                <p class="lead">
                  {% blocktrans%}
                    Waifu una <strong>aplicación de streaming  para ver anime online </strong>P2P (basada en torrent) que te permite ver anime en 720p HD, con  subtitulos
                    en Español, ingles, portugues, frances, aleman. (actualmente ES, LA, EN, PT, FR, DE)
                    <br><br>
                    Todavia estamos en fase beta, por lo que si encuentras algún fallo no dudes en contactar con nosotros en <a href="http://twitter.com/waifuapp" class="link">@waifuapp</a> o
                    en <a href="https://www.facebook.com/waifuanimeapp" class="link">nuestra página de Facebook</a>.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-md-5">
              <img alt="Imagen de frente de waifu" class="featurette-image img-responsive" src="{{MEDIA_URL}}img3.png">
            </div>
        </div>

        <hr class="featurette-divider">

      <div class="containerLINKS row featurette">
            <div class="col-md-5">
              <img alt="{% trans "imagen de lado de waifu" %} "  class="featurette-image img-responsive" src="{{MEDIA_URL}}img2.png">

            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">{% trans "¡Pruébalo por ti mismo!" %}</h2>
              <p class="lead">
                {% trans "Usando tecnología de peerflix, popcorntime, nodewebkit... Te permite ver tus animes preferidos en HD y con subtitulos." %}
                    <br><br>
                    {% trans "¡iYa no hay escusas para no ver tus series favoritas! :D "%}
                    <br>
                    {% blocktrans %}
                    <b>Waifu</b> es una aplicación que nos
                      permitirá ver un montón de animes en streaming
                      tanto clásicos como  recientes
                      casi todas las series animes se ven con subtítulos
                      en <b>varios idiomas</b>
                      tan sólo tendremos que activar la
                      opción de subtitulado y elegir el
                      idioma que queramos
                      además podemos cambiar el tamaño de
                      las letras de sus tutelados
                      Es una exelente herramienta
                      de reproducción de anime la aplicación ofrece una calidad de 720p.
                      {% endblocktrans  %}
            </div>
        </div>


        <hr class="featurette-divider">

    <div class="containerLINKS row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{% trans "Si te gusta mucho, ¡dona!" %}</h2>
          <p>{% trans "¡Ahora aceptamos tu criptomoneda favorita!" %}</p>
          <p>bitcoin
          <span class='containerDONA'>
          1BJB84Y4Nmgjpc61emc16Je9ff5rzrMMvJ
          </span></p>
          <br>
          <p>dogecoin
            <span class='containerDONA'>
              D86kG8E2fwGum9tuwdCJy1eDJNbQ9fwLdC
            </span>
          </p>
      </div>
      <div class="col-md-3">
        <img  alt="Bitcoin address" class="featurette-image img-responsive" src="{{MEDIA_URL}}btc.png">
      </div>

    </div>
</div>
{% endblock  %}

 <hr class="featurette-divider">


    <div class="footer">
      <p>
        <a href="https://bitbucket.org/pelana/waifu/wiki/Home"> {% trans "Bugs conocidos" %}</a> |
        <a href="https://bitbucket.org/pelana/waifu/issues?status=new&amp;status=open">{% trans "Reporte de bugs" %}</a> | 
        {% trans "ayudanos a traducir el sitio" %} <a href="https://www.transifex.com/projects/p/waifuapp/">{% trans "Traducciones" %} </a> |
        
        <a href="/terms"> {% trans "Terminos y condiciones"%}</a> |
        <a href="/contact">{% trans "Contactanos" %}</a> |
        <a href="/uninstall">{% trans "Desinstalar" %}</a> 

        </p>
    </div>



<script async src="{{MEDIA_URL}}js/out.js"></script>

</body>
</html>
<link rel="stylesheet" href="{{MEDIA_URL}}css/out.css">
