{% extends "index.html" %}
{% load i18n %}
{% block subtitle  %}

{% endblock %}
{% block content %}

        <div class="row containerLINKS row featurette">
          <div class="col-lg-4 col-lg-offset-4">
            <strong>{% trans "Ultimo capitulo agregado" %}: </strong>
            <div id="last">
            </div>
          </div>
          </div>

  <div class="row row featurette">
          <div class=" col-lg-12 center ">
<hr>
<h1> {% trans "Gracias por la descarga"%}</h1>
<h2> <a href="{{MEDIA_URL}}setup_waifu.exe"> {% trans "DESCARGA AHORA"%} </a></h2> 
<h2> <a href="{{MEDIA_URL}}waifu.torrent"> {% trans "Descarga por:"%} TORRENT </a></h2>
<h2> <a href="http://www.bitlet.org/?torrent=http%3a%2f%2fwaifu.ca%2fstatic%2fmedia%2fwaifu.torrent"> Bitlet </a></h2>
<p>
{% blocktrans%}
¿Chrome o firefox te dice que el archivo es malicioso?, La vdd es que no! Lo que sucede es que nuestro instalador no esta firmado, y para firmarlo hay que comprar un certificado que cuesta 100 USD!!! solo asi se removeria el mensaje.
{% endblocktrans%} <a href="http://codesigning.ksoftware.net/">{% trans "checalo aqui"%}</a>
</br>
<img src="http://i.imgur.com/g4nTlm6.png"/></br>
{% trans "Archivo malicioso es mentira"%}  <a href="https://www.virustotal.com/en/url/11165a000371f41a1b984f183c981c49506995948d8b665ae5ed5fd2bbfcaf68/analysis/">{% trans "la prueba aqui"%}</a> {% trans "testeado en virustotal.com"%}
</p>

<img src="http://i.imgur.com/4ClHqxF.png" />

          </div>
        </div>


{% endblock %}
