{% extends "index.html" %}
{% load i18n %}
{% block subtitle  %}

{% endblock %}
{% block content %}


      <span>
    {% blocktrans %}
        
Desinstalación Pasos: <br>
Eliminación del software en PC basado en Windows es relativamente simple. Siguiendo los pasos simples le ayudará a eliminar cualquier software que desea desinstalar. Las siguientes son instrucciones generales sobre el proceso de desinstalación de software. <br>
---------------------------------------------------------------------------------------------<br>
Para usuarios de Windows : <br>
Vaya a "Menú Inicio" situado en la parte inferior derecha de la pantalla Seleccione "Panel de control". En "Programas" haga clic en "Desinstalar un programa". Haz clic derecho en el programa que desea eliminar y haga clic en "Desinstalar / Cambiar". Siga los pasos de desinstalación para quitar el software completo. <br>

Notas adicionales: <br>
Después de haber desinstalado el software, ciertos datos como carpetas, archivos, claves de registro, y cookies, pueden permanecer en el equipo. Le recomendamos que borre sus cookies después de desinstalar. Esto se puede hacer por entrar en opciones de su navegador y elegir claras opciones de cookies.
    {% endblocktrans %}
</span>

{% endblock %}
