{% extends "index.html" %}
{% load i18n %}
{% block subtitle  %}

{% endblock %}
{% block content %}

        <div class="row containerLINKS row featurette">
          <div class="col-lg-4 col-lg-offset-4">
            <strong>{% trans "Ultimo capitulo agregado" %}: </strong>
            <div id="last">
            </div>
          </div>
          </div>

  <div class="row row featurette">
          <div class=" col-lg-12 center ">
<hr>
<h1> {% trans "Gracias por la descarga"%}</h1>
<h2> <a href="{{MEDIA_URL}}/dd/setup_waifu.exe"> {% trans "DESCARGA AHORA"%} </a></h2> 
<p>
</br>
</p>


          </div>
        </div>


{% endblock %}
