.clr_captcha_target {
color: black;
	}


form label {
color: black;
}

form .errorlist {
 color:red;

}


ul.clr_captcha_color_choices {
	width: auto;
    padding:0px;
	}

	ul.clr_captcha_color_choices li {
		display: inline-block;
		margin-right: 3px;
		position: relative;
        width:20px;
		}

		input.clr_captcha_color + label {
			border: solid #EEE 1px;
			display: inline-block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 20px;
			}

		input.clr_captcha_color:checked + label {
			border-color: black;
			}



